/*	phpBB3 Style Sheet
	------------------------------------------------------------------------
	Style name:			prosilver-lm (custom theme for LinuxMint)
	Based on style:		prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	Modified by:		Sébastien Bouchard ( https://github.com/SebastJava )
	------------------------------------------------------------------------
*/

/* common.css___________________________________________________________________________________________*/

body { padding: 0px 0px 12px 0px; }
.wrap { border: none; padding: 0px 15px 0px 15px; }

h1, h2, h3 { font-weight: bold; }

.headerbar { margin: 0px; border-radius: 0px; padding: 0px; }
.logo { padding: 21px 0px; }
#page-header .navbar { margin: 0px; border-radius: 0px; padding: 0px; }

/*  700px (responsive threshold width) - 56px (wrap) - 10px (headerbar) = 634px
    634px x 65% = 412 px (site-description width) - (5+5) px padding = 402px site_logo width
    site_logo height = 216×402÷1724 = 50.367 px  */
.logo, .site_logo { width: 400px; height: 58px; }

.post, .panel { margin-top: 12px; margin-bottom: 12px; }

.action-bar .button { height: 24px; box-sizing: border-box; }
/* ▲ BUG FIX: make sure every action-bar button is at the same height as ".search-box .inputbox" */

/* content.css__________________________________________________________________________________________*/

.postprofile .profile-posts a { font-weight: bold; }
.signature { text-align: right; }
blockquote { border-style: solid; border-width: 0 0 0 12px; padding-left: 12px; }

/* cp.css_______________________________________________________________________________________________*/

.tabs .tab { margin-bottom: -12px; } /* (!) To compensate for: .panel { margin-top: 12px; } */

/* forms.css____________________________________________________________________________________________*/

.search-header { margin: 42px 0px 0px 0px; }

/* links.css____________________________________________________________________________________________*/

.postlink, .postlink:hover { text-decoration: underline; border-bottom: none; }

/* responsive.css_______________________________________________________________________________________*/

@media (max-width: 700px) {

	.wrap { padding: 0px 5px; }

	#headerbar-wrap { background-image: none; }
	.site-description { height: 51px; }
	.logo {
		/* change display value from none to inline-block to show logo */
		display: inline-block;
		float: none;
		padding: 7px 0px;
	}
	.logo, .site_logo { width: 300px; height: 37px; }
	.site_logo { background-image: url("./images/site_logo-responsive-700.svg"); }
	.headerbar, .navbar { border-radius: 0px; }

	.headerbar, .navbar, .forabg, .forumbg, .post, .panel {
		border-radius: 0; margin-left: -5px; margin-right: -5px;
	}
}

/* IMG, DOWNLOAD ALIGN CENTER EXPERIMENT________________________________________________________________*/

div.inline-attachment { margin-top: 1.4em; margin-bottom: 2.0em; }
img.postimage { display: block; margin-left: auto; margin-right: auto; }
.signature img.postimage { display: inline-block; }
dl.file, dl.thumbnail { text-align: center; }
.thumbnail a { display: block; }


/* FORUM ICONS & TOPIC ICONS____________________________________________________________________________*/

.global_read						{ background-image: url("./images/announce_read.svg"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.svg"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.svg"); }
.global_read_locked_mine				{ background-image: url("./images/announce_read_locked_mine.svg"); }
.global_unread						{ background-image: url("./images/announce_unread.svg"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.svg"); }
.global_unread_locked					{ background-image: url("./images/announce_unread_locked.svg"); }
.global_unread_locked_mine				{ background-image: url("./images/announce_unread_locked_mine.svg"); }

.announce_read						{ background-image: url("./images/announce_read.svg"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.svg"); }
.announce_read_locked					{ background-image: url("./images/announce_read_locked.svg"); }
.announce_read_locked_mine				{ background-image: url("./images/announce_read_locked_mine.svg"); }
.announce_unread					{ background-image: url("./images/announce_unread.svg"); }
.announce_unread_mine					{ background-image: url("./images/announce_unread_mine.svg"); }
.announce_unread_locked					{ background-image: url("./images/announce_unread_locked.svg"); }
.announce_unread_locked_mine				{ background-image: url("./images/announce_unread_locked_mine.svg"); }

.forum_link						{ background-image: url("./images/forum_link.svg"); }
.forum_read						{ background-image: url("./images/forum_read.svg"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.svg"); }
.forum_read_subforum					{ background-image: url("./images/forum_read_subforum.svg"); }
.forum_unread						{ background-image: url("./images/forum_unread.svg"); }
.forum_unread_locked					{ background-image: url("./images/forum_unread_locked.svg"); }
.forum_unread_subforum					{ background-image: url("./images/forum_unread_subforum.svg"); }

.sticky_read						{ background-image: url("./images/sticky_read.svg"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.svg"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.svg"); }
.sticky_read_locked_mine				{ background-image: url("./images/sticky_read_locked_mine.svg"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.svg"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.svg"); }
.sticky_unread_locked					{ background-image: url("./images/sticky_unread_locked.svg"); }
.sticky_unread_locked_mine				{ background-image: url("./images/sticky_unread_locked_mine.svg"); }

.topic_moved						{ background-image: url("./images/topic_moved.svg"); }
.pm_read,
.topic_read						{ background-image: url("./images/topic_read.svg"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.svg"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.svg"); }
.topic_read_hot_mine					{ background-image: url("./images/topic_read_hot_mine.svg"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.svg"); }
.topic_read_locked_mine					{ background-image: url("./images/topic_read_locked_mine.svg"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.svg"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.svg"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.svg"); }
.topic_unread_hot_mine					{ background-image: url("./images/topic_unread_hot_mine.svg"); }
.topic_unread_locked					{ background-image: url("./images/topic_unread_locked.svg"); }
.topic_unread_locked_mine				{ background-image: url("./images/topic_unread_locked_mine.svg"); }

