/*	phpBB3 Style Sheet
	------------------------------------------------------------------------
	Style name:			prosilver-lm (custom theme for LinuxMint)
	Based on style:		prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	Modified by:		Sébastien Bouchard ( https://github.com/SebastJava )
	------------------------------------------------------------------------
*/

/* colours.css__________________________________________________________________________________________*/

html, body, .wrap { background-color: #CFEDFC; } /* Cloudy blue */

#page-header {
	background-color: #1F9EDE; /* Water blue */
	background-image: url("./images/banner.svg");
	background-repeat: no-repeat;
	border-radius: 7px;
}
#page-header .navbar { background-color: rgba(255,255,255,0.5); }

.headerbar {
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
}
.site_logo { background-image: url("./images/site_logo.svg"); }
.navbar { background-color: #8FCFEF; } /* Light blue */
.forumbg, .forabg { background-color: #1F9EDE; background-image: none; } /* Water blue */

.bg1 { background-color: #FFF; }
.bg2, bg3 { background-color: #F2F2F2; } /* Pale grey (95%) */
ul.forums { background-color: #F2F2F2; background-image: none; }
.post:target .content { color: #333333; }
.postprofile { color: #666666; border-color: lightgray; }
.panel { background-color: #F2F2F2; color: #333333; }

/* "dl.file" includes both file (img or link) and <dd>Viewed or Downloaded nn times</dd> */
dl.file { background-color: #CFEDFC; } /* Cloudy blue */
.attach-image img { border-color: transparent; }
dl.thumbnail img { border-color: lightgray; }

.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #F2F2F2;
	background-image: none;
	border-color: lightgray;
	border-bottom: none;
	box-shadow: none;
	color: #333333;
}
.panel-container .panel { background-color: transparent; }

input.inputbox, fieldset.quick-login input.inputbox { background-color: #FFF; }

/* Post body links (xx) */
.postlink { border-bottom-color: #368AD2; color: #0B50DA; } /* Azul */
.postlink:visited { border-bottom-color: #5D8FBD; color: #3973AC; } /* Flat blue */
.postlink:hover { background-color: #D0E4F6; color: #D31141; } /* Rose red */

/* common.css___________________________________________________________________________________________*/

.wrap { border: none; }

.headerbar {
	margin-bottom: 0px;
	padding: 5px;
	border-radius: 7px 7px 0px 0px;
}
.navbar:not(.page-footer .navbar) {
	padding: 5px 10px 0px 10px;
	border-radius: 0px 0px 7px 7px;
}
.logo { padding: 15px; }

/*  700px (responsive threshold width) - 56px (wrap) - 10px (headerbar) = 634px
    634px x 65% = 412 px (site-description width) - (5+5) px padding = 402px site_logo width
    site_logo height = 216×402÷1724 = 50.367 px  */
.logo, .site_logo { width: 402px; height: 52px; }

/* forms.css____________________________________________________________________________________________*/

.search-header { margin-top: 32px; }

/* responsive.css_______________________________________________________________________________________*/

@media (max-width: 700px) {

	#page-header {
		border-radius: 0;
		margin-left: -5px;
		margin-right: -5px;
	}
	.site-description { height: 47px; }
	.logo {
		/* change display value from none to inline-block to show logo */
		display: inline-block;
		float: none;
		padding: 5px;
	}
	.logo, .site_logo { width: 300px; height: 37px; }
	.site_logo { background-image: url("./images/site_logo-responsive-700.svg"); }
	.headerbar + .navbar { margin-top: 0px; }
	.headerbar, .navbar { border-radius: 0px; }
}

/* IMG, DOWNLOAD ALIGN CENTER EXPERIMENT */

img.postimage { display: block; margin-left: auto; margin-right: auto; }
dl.file { text-align: center; }
.thumbnail a { display: block; }
