/*	phpBB3 Style Sheet
	------------------------------------------------------------------------
	Style name:			prosilver-lm (custom theme for LinuxMint)
	Based on style:		prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	Modified by:		Sébastien Bouchard ( https://github.com/SebastJava )
	------------------------------------------------------------------------
*/

/* colours.css__________________________________________________________________________________________*/

html, body { color: #303030; background-color: #F0F0F0; }
.wrap { background-color: transparent; }
ul.topiclist li { color: #303030; }

a, a:hover, h3 { color: #009A67; }
.navbar a, .navbar a:hover, .navbar .breadcrumbs .crumb { color: white; }
.navbar .dropdown a { color: #009A67; }

.button:hover, .button:focus { border-color: #008257; }
.button-secondary:focus, .button-secondary:hover, .button:focus .icon, .button:hover .icon { color: #008257; }

.postlink { border-bottom-color: #004CE4; color: #004CE4; }
.postlink:visited { border-bottom-color: #0098E4; color: #0098E4; }
.postlink:hover { background-color: #E4EDFF; color: #004CE4; }

#page-header { background-color: transparent; background-image: none; }

#headerbar-background { background: linear-gradient(90deg, #69B53F 0%, #2AB9A5 100%); }
#headerbar-wrap { background-image: url("./images/banner-v6.svg"); }
.headerbar { background-color: transparent; background-image: none; }
.site_logo { background-image: url("./images/site_logo.svg"); }

#navbar-background, .navbar { background: linear-gradient(90deg, #69B53F 0%, #2AB9A5 100%); }
#page-header .navbar {
	background-color: transparent; background-image: none;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}
ul.navlinks { border-top-color: rgba(255, 255, 255, 0.5); }

.forumbg, .forabg { background-color: #36BA8E; background-image: none; }
.forumbg .header a, .forabg .header a, th a { color: #FFF; }
.forumbg .header a:hover, .forabg .header a:hover, th a:hover { color: #FFF; }
li.header dt, li.header dd { color: #FFF; font-weight: bold; }
table.table1 thead th { color: #FFF; }

.bg1 { background-color: #FFF; }
.bg2 { background-color: #DFFBE8; }
.bg3 { background-color: #DFFBE8; }
.post.bg1 { background-color: #F4FFEF; }
.post.bg2 { background-color: #EFFFFA; }

ul.forums { background-color: #FFF; background-image: none; }
.post:target .content { color: #303030; }
.postprofile { color: #666666; border-color: lightgray; }
.panel { background-color: #DFFBE8; color: #303030; }
.navigation a { color: #333; background: #BACCD9; }
.navigation a:hover { color: #0155FF; background: #DDEDFB; }
.navigation .active-subsection a { color: #333; background: #8FEFAF; }
.navigation .active-subsection a:hover { color: #0155FF; background: #8FEFAF; }

/* "dl.file" includes both file (img or link) and <dd>Viewed or Downloaded nn times</dd> */
dl.file, dl.thumbnail { background-color: #FFF; }
.attach-image img { border-color: transparent; }
dl.thumbnail img { border-color: lightgray; }

.tabs .tab > a:hover { background: #DDEDF8; color: #0155FF; }
.tabs .activetab > a,
.tabs .activetab > a:hover {
	background-color: #DFFBE8;
	background-image: none;
	border-color: lightgray;
	border-bottom: none;
	box-shadow: none;
	color: #303030;
}
.panel-container .panel { background-color: transparent; }

input.inputbox, fieldset.quick-login input.inputbox { background-color: #FFF; }

li.row { border-top-color: #FFFFFF; border-bottom-color: #71E3BC; }
li.row:hover { background-color: #F8F8F8; }
li.row dd { border-left-color: #71E3BC; }
.rtl li.row dd { border-right-color: #71E3BC; border-left-color: transparent; }

div.rules { background-color: #FFCAD2; color: #BD002F; }

/* common.css___________________________________________________________________________________________*/

body { padding: 0px 0px 12px 0px; }
.wrap { border: none; padding: 0px 15px 0px 15px; }

.headerbar { margin: 0px; border-radius: 0px; padding: 0px; }
.logo { padding: 21px 0px; }
#page-header .navbar { margin: 0px; border-radius: 0px; padding: 0px; }

/*  700px (responsive threshold width) - 56px (wrap) - 10px (headerbar) = 634px
    634px x 65% = 412 px (site-description width) - (5+5) px padding = 402px site_logo width
    site_logo height = 216×402÷1724 = 50.367 px  */
.logo, .site_logo { width: 400px; height: 58px; }

/* forms.css____________________________________________________________________________________________*/

.search-header { margin: 42px 0px 0px 0px; }

/* responsive.css_______________________________________________________________________________________*/

@media (max-width: 700px) {

	.wrap { padding: 0px 5px; }

	#headerbar-wrap { background-image: none; }
	.site-description { height: 51px; }
	.logo {
		/* change display value from none to inline-block to show logo */
		display: inline-block;
		float: none;
		padding: 7px 0px;
	}
	.logo, .site_logo { width: 300px; height: 37px; }
	.site_logo { background-image: url("./images/site_logo-responsive-700.svg"); }
	.headerbar, .navbar { border-radius: 0px; }

	.headerbar, .navbar, .forabg, .forumbg, .post, .panel {
		border-radius: 0; margin-left: -5px; margin-right: -5px;
	}
}

/* IMG, DOWNLOAD ALIGN CENTER EXPERIMENT________________________________________________________________*/

div.inline-attachment { margin-top: 1.4em; margin-bottom: 2.0em; }
img.postimage { display: block; margin-left: auto; margin-right: auto; }
dl.file, dl.thumbnail { text-align: center; }
.thumbnail a { display: block; }
