/*	phpBB3 Style Sheet
	------------------------------------------------------------------------
	Style name:			prosilver-lm (custom theme for LinuxMint)
	Based on style:		prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ )
	Modified by:		Sébastien Bouchard ( https://github.com/SebastJava )
	------------------------------------------------------------------------
*/

/* colours.css_________________________________________________________________________________________________*/

html, body, .wrap { background-color: #F2F2F2; }

#page-header {
	background-color: #1DC881;
	background-image: url("./images/banner.svg");
	background-repeat: no-repeat;
	border-radius: 7px;
}
#page-header .navbar { background-color: rgba(255,255,255,0.5); }

.headerbar {
	background-color: transparent;
	background-image: none;
	background-repeat: no-repeat;
}
.site_logo { background-image: url("./images/site_logo.svg"); }
.navbar { background-color: #8FCFEF; }
.forumbg, .forabg { background-color: #1F9EDE; background-image: none; }
.bg1, .bg2 { background-color: #FFF; }
ul.forums { background-color: #FFF; background-image: none; }
.post:target .content { color: #333333; }
.panel { background-color: #D2ECF9; color: #242424; }

/* common.css__________________________________________________________________________________________________*/

.wrap { border: none; }

.headerbar {
	margin-bottom: 0px;
	padding: 5px;
	border-radius: 7px 7px 0px 0px;
}
.navbar:not(.page-footer .navbar) {
	padding: 5px 10px 0px 10px;
	border-radius: 0px 0px 7px 7px;
}
.logo { padding: 15px; }

/*  700px (responsive threshold width) - 56px (wrap) - 10px (headerbar) = 634px
    634px x 65% = 412 px (site-description width) - (5+5) px padding = 402px site_logo width
    site_logo height = 216×402÷1724 = 50.367 px  */
.logo, .site_logo { width: 402px; height: 52px; }

/* forms.css___________________________________________________________________________________________________*/

.search-header { margin-top: 32px; }

/* responsive.css______________________________________________________________________________________________*/

@media (max-width: 700px) {

	#page-header {
		border-radius: 0;
		margin-left: -5px;
		margin-right: -5px;
	}
	.site-description { height: 47px; }
	.logo {
		/* change display value from none to inline-block to show logo */
		display: inline-block;
		float: none;
		padding: 5px;
	}
	.logo, .site_logo { width: 300px; height: 37px; }
	.site_logo { background-image: url("./images/site_logo-responsive-700.svg"); }
	.headerbar + .navbar { margin-top: 0px; }
	.headerbar, .navbar { border-radius: 0px; }
}
